body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #666;
    line-height: 1.6;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}

/* Container */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: url("intro.gif") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin: 0 auto;
    width: 100;
    max-width: 880px;
    
    text-align: center;
}

.suptitle {
    color: #333;
    width: 500px;
    margin-bottom: 20px;
    font-size: 70px;

}

.title {
    color: #333;
    font-size: 80px;
    width: 500px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 35px;
    font-weight: 700;
}

.logo__link {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-decoration: none;

    color: #333;

    transition: color .1s linear;
}

.logo__link:after {
    display: block;
    position: absolute;

    opacity: 0;
    transition: opacity .1s linear;

    color: rgb(173, 173, 173);
}

.logo__link:hover {
    color: rgb(173, 173, 173);
}

/* Nav */
.nav {
    font-size: 20px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    margin: 0 15px;
    vertical-align: top;
    position: relative;
    
    text-decoration: none;
    color: #333;
    font-size: 25px;
    
    transition: color .1s linear;
}

.nav__link:after {
    display: block;
    position: absolute;

    opacity: 0;

    background-color: rgb(161, 182, 8);

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: rgb(161, 182, 8);
}